@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Store Rater</h1>
    <p class="lead">Store Rater is an application that allows customers to review and leave ratings for stores in their communities.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Store Rater is a powerful tool used to hold the stores in your community accountable, forcing them to deliver the customer service you and your community deserve. Sign up for store rater to leave reviews in real time with ease upon every outing, dinner, shopping trip and more.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How it works!</h2>
        <p>Store Rater uses your location to automatically send you a short survey upon visiting a store, Fill out the survey leave a rating for the stores overall service and comments if you choose to. You will recieve store credit in forms of coupons and discounts with every review that you leave. Its that simple.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Premium reviewer</h2>
        <p>Become a premium reviewer. The more reviews you leave the closer you come to becoming a premium reviewer, which gives you better deals and discounts with every review. Premium reviewers are also automatically eneterd into monthly lotteries for free product from your favorite stores and or year long discounts.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<style>
    body{
        background-color: lightcoral;
    }
    .jumbotron{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: blanchedalmond;
        color: black;
    }
    h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
    p{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
 
    
</style>